import { gql } from 'apollo-angular';
import <%= camelize(name) %>FragmentQuery from './<%= dasherize(name) %>-fragment.query';

export default gql`
  mutation <%= gqlObject(name) %>Create($input: CreateOne<%= api %>Input!) {
    createOne<%= api %>(input: $input) {
      ...<%= gqlObject(name) %>Fragment
    }
  }
  ${<%= camelize(name) %>FragmentQuery}
`;
