import { gql } from 'apollo-angular';
import <%= camelize(name) %>FragmentQuery from './<%= dasherize(name) %>-fragment.query';

export default gql`
  query <%= gqlObject(name) %>($id: ID!) {
    <%= apiMethod(api) %>(id: $id) {
      ...<%= gqlObject(name) %>Fragment
    }
  }
  ${<%= camelize(name) %>FragmentQuery}
`;
